@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-main: #002A48;

    --color-text-dark: #00171F;
    --color-text-light: #667479;

    --font-general: "Be Vietnam Pro", sans-serif;
}

/* reset default html */
* {
    box-sizing: border-box;
}

body {
    background-color: #FDFDFD;
    font-family: var(--font-general);
    margin: 0px;
}

a {
    text-decoration: none;
}
/* end reset default html */

/* container */
.container {
    width: 1180px;
    margin: 0px auto 0px auto;
}

/* laptop cỡ nhỏ */
@media (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

/* máy tính bảng cỡ lớn */
@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

/* máy tính bảng cỡ nhỏ */
@media (max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

/* điện thoại */
@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding: 0px 16px 0px 16px;
    }
}

/* end container */

/* button */
.button-dark {
    background-color: var(--color-main);
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 28px;
    border: 1px solid var(--color-main);
    border-radius: 57px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto; /*chiều rộng của nút nhấn nên để auto */
    height: 44px;
}

.button-outline {
    background-color: transparent;
    color: var(--color-main);
    font-size: 16px;
    font-weight: 500;
    width: 164px;
    height: 48px;
    border-radius: 57px;
    border: 1.5px solid var(--color-main);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button-outline i {
    font-size: 18px;
    margin:  0px 0px 0px 11px;
}
/* end button */

/* box head */
.box-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 0px 28px 0px;
}
.box-head .inner-sub-title {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
}

.box-head .inner-title {
    color: var(--color-main);
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.box-head .button-outline {
    font-size: 14px;
}

.box-head .button-outline i {
    margin-left: 16px;
    font-size: 14px;
}
/* end box head */

/* header */
.header {
    padding: 28px 0px;
    position: relative;
    z-index: 1; /*Nên để 999 thì sẽ an toàn hơn*/
}

.header .inner-wrap {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header .inner-logo img {
    width: auto;
    height: 40px;
}

.header .inner-menu {
    flex: 1;    
    text-align: center  ;
}

.header .inner-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    gap: 48px;
}

.header .inner-menu a {
    color: var(--color-main);
    font-size: 16px;
    font-weight: 700;
}

.header .inner-form-search {
    background-color: #F3F3F3;
    width: 280px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 46px;
    display: inline-flex;
    gap: 12px
}

.header .inner-form-search input {
    background-color: transparent;
    border: 0;
    outline: 0;
    height: 100%;
    order: 1;
    flex: 1; /* chiếm phần chiều rộng còn lại   */
}

.header .inner-form-search button {
    color: #667479;
    font-size: 16.5px;
    border: 0;
    padding: 0;
    order: 0;
}

.header .inner-search-mobile {
    display: none;
}

.header .inner-menu-mobile {
    display: none;
}

/* laptop cỡ nhỏ */
@media (max-width: 1199.98px) {
    .header .button {
        display: none;
    }
}

/* máy tính bảng cỡ lớn */
@media (max-width: 991.98px) {
    .header .inner-form-search {
        display: none;
    }

    .header .inner-search-mobile {
        display: inline-block;
        background: transparent;
        color: var(--color-text-dark);
        font-size: 22px;
        border: 0px;
        padding: 0px;
        cursor: pointer;
    }
}

/* máy tính bảng cỡ nhỏ */
@media (max-width: 767.98px) {
    .header {
        padding: 12.5px 0px;
    }

    .header .inner-menu-mobile {
        display: inline-block;
        color: var(--color-text-dark);
        font-size: 22px;
        border: 0px;
        padding: 0px;
        cursor: pointer;
    }

    .header .inner-menu {
        display: none;
    }

    .header .inner-wrap {
        justify-content: space-between;
    }

    .header .inner-logo img {
        height: 32px;
    }
}
/* end header */

/* section one */
.section-one {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 0px 0px 40px 40px;
    
    /* tràn nền lên đến header */
    margin: -100px 0px 0px 0px;
    padding: 100px 0px 0px 0px;
    overflow: hidden;
}

.section-one .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.section-one .inner-content-bg-02 {
    position: absolute;
    top: -100px;
    left: -132px;
}
.section-one .inner-content {
    width: 50%;
    padding: 80px 76px 0px 0px;
    position: relative;
}

.section-one .inner-content .inner-bg-01 {
    position: absolute;
    top: 68px;
    left: -13px;
}

.section-one .inner-content .inner-bg-03 {
    position: absolute;
    bottom: 0px;
    right: -58px;
}

.section-one .inner-content .inner-title {
    margin: 0px 0px 24px 0px;
    color: var(--color-main);
    font-weight: 700;
    position: relative;
    /* z-index: 999; position khác static mới chỉnh được z-index */
}

.section-one .inner-content .inner-title .inner-title-main {
    font-size: 60px;
}

.section-one .inner-content .inner-title .inner-title-sub {
    font-size: 46px;
}

.section-one .inner-desc {
    width: 94%;
    color: #242B33;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 34px 0px;
}

.section-one .inner-button {
    display: inline-flex;
    align-items: center;
    gap: 18px;
}

.section-one .inner-button .button {
    width: auto;
    height: 48px;
    font-weight: 500;
}

.section-one .inner-image {
    width: 50%;
    padding: 0px 74px 0px 0px;
    position: relative;
}

.section-one .inner-image .inner-bg-01 {
    position: absolute; /*z-index =  0*/
    bottom: 0px;
    left: -89px;
}

.section-one .inner-image .inner-image-main {
    width: 100%;
    height: auto;   
    display: block; /*thẻ img bị hở 1 khúc ở dưới, không rõ lý do, cứ chuyển về display: block là ok*/
    position: relative; /*để position khác static nếu không sẽ không có
    z-index khi đó sẽ bị cái background đang có z-index = 0 đè lên*/
}

/* laptop cỡ nhỏ */
@media (max-width: 1199.98px) {
    .section-one .inner-content .inner-title {
        margin-bottom: 20px;
    }

    .section-one .inner-content .inner-title .inner-title-main{
        font-size: 52px;
    }
    .section-one .inner-content .inner-title .inner-title-sub{
        font-size: 34px;
    }

    .section-one .inner-content .inner-desc{
        font-size: 14px;
    }

    .section-one .inner-content .inner-bg-03 {
        height: 50px;
        left: 81px;
    }
}

/* máy tính bảng cỡ lớn */
@media (max-width: 991.98px) {
    .section-one {
        border-radius: 0px 0px 30px 30px;
    }

    .section-one .inner-content {
        width: 100%;
        padding-top: 35px;
        padding-right: 0px;
    }

    .section-one .inner-image {
        width: 100%;
        padding-top: 25px;
        padding-right: 0px;
    }

    .section-one .inner-content .inner-bg-03 {
        display: none;
    }
}

/* máy tính bảng cỡ nhỏ */
@media (max-width: 767.98px) {
    /*  */
}

/* điện thoại */
@media (max-width: 575.98px) {
    .section-one {
        border-radius: 0px 0px 20px 20px;
    }

    .section-one .inner-content .inner-title {
        margin-bottom: 12px;
    }

    .section-one .inner-content .inner-title .inner-title-main{
        font-size: 46px;
    }
    .section-one .inner-content .inner-title .inner-title-sub{
        font-size: 28px;
    }

    .section-one .inner-content .inner-desc{
        font-size: 12px;
        margin-bottom: 32px;
    }

    .section-one .inner-content .inner-bg-01 {
        display: none;
    }
    
    .section-one .inner-image .inner-bg-01 {
        bottom: -147px;
    }
}
/* end section one */

/* section two */
.section-two {
    padding: 60px 0px;
}

.section-two .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* end section two */

/* product item */
.product-item {
    background-color: #FDFDFD;
    width: calc((100% - 60px) / 4 );
    height: 378px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 4px 28px -2px #00000014;
}

.product-item .inner-image {
    width: 264px;
    height: 264px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0px 0px 8px 0px;
}

.product-item .inner-image img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 /1;
}

.product-item .inner-content {
    padding: 8px;
}

.product-item .inner-content .inner-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 4px 0px;
}

.product-item .inner-content .inner-title a {
    color: var(--color-text-dark);
}

.product-item .inner-content .inner-info {
    display: flex;
    gap: 30px;
    color: var(--color-text-light);
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
    position: relative;
}

.product-item .inner-content .inner-info b {
    text-transform: capitalize;
    font-weight: 700;
}

.product-item .inner-content .inner-info-item::after {
    content: "";
    /* mặc định pesudo element có display là inline */
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-text-light);

        position: absolute;
        top: 7px;
        left: 77px;
}

.product-item .inner-content .inner-info-item:last-child::after {
    display: none;
}

.product-item .inner-content .inner-price {
    color: var(--color-text-dark);
    font-size: 14px;
    font-weight: 700;
}
/* end product item */

/* Section three */
.section-three .inner-wrap{
    background-image: url(../images/section-three-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.section-three .inner-image {
    width: 40%;
    margin: 36px 0px 0px 20px;
}

.section-three .inner-image img {
    width: 100%;
    height: auto;
    display: block; /*xóa phần chân của thẻ img*/
}


.section-three .inner-content {
    width: 41%;
    text-align: right;
    padding: 56px 85px 56px 0px;
}

.section-three .inner-title {
    margin: 0px 0px 8px 0px;
    color: var(--color-main);
    font-weight: 700;   
}

.section-three .inner-title .inner-title-main {
    font-size: 52px;
    margin-bottom: 8px;
}

.section-three .inner-title .inner-title-sub {
    font-size: 36px;
}

.section-three .inner-desc {
    color: #242B33;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 24px 0px;
}

.section-three .inner-button {
    display: inline-flex;
    gap: 18px
}

.section-three .inner-button .button-dark {
    font-weight: 500;
    height: 48px;
}
/* End Section three */

/* Section four */
.section-four {
    padding: 60px 0px;
}

.section-four .inner-wrap {
    display: flex;
    gap: 20px;
}
/* End Section four */

/* article */
.article-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    padding: 8px;
    border-radius: 12px;
    width: calc((100% - 40px) / 3);
}

.article-item .inner-image {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 364/240;
    margin: 0px 0px 10px 0px;
}

.article-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.article-item .inner-content {
    padding: 0px 8px 8px 8px;
}

.article-item .inner-tag {
    display: inline-block;
    background-color: #00A7E7;
    border-radius: 28px;
    padding: 2px 10px;
    color: #FDFDFD;
    font-size: 10px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}

.article-item .inner-title {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px 6px 0px;
}

.article-item .inner-desc {
    margin: 0px;
    color: #242B33;
    font-size: 14px;
    font-weight: 400;

    /* css wrap text */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* end article */

/* footer */
.footer {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0px 0px;
    padding: 80px 0px 40px 0px;
}

.footer .inner-top {
    background-color: #003459;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    gap: 20px;
}

.footer .inner-top .inner-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(36% - 10px);
    color: #FDFDFD;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.footer .inner-top .inner-form {
    /* width: calc(60% - 10px); */
    flex: 1;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 14px;
    display: inline-flex;
    gap: 12px;
}

.footer .inner-top .inner-form input {
    flex: 1;
    height: 48px;
    padding: 14px 28px;
    border: 1px solid #99A2A5;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.footer .inner-top .inner-form input::placeholder {
    color: #99A2A5;
    /* font-size: 14px;
    font-weight: 500; */
}

.footer .inner-top .inner-form button {
    border-radius: 8px;
    font-weight: 500;
}

.footer .inner-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    border-bottom: 1px solid #CCD1D2;
}

.footer .inner-middle .inner-links ul {
    /* reset ul */
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    gap: 60px;
}

.footer .inner-middle .inner-links ul a {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 500;
}


.footer .inner-middle .inner-socials ul {
    /* reset ul */
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    gap: 40px;
}

.footer .inner-middle .inner-socials ul a {
    color: var(--color-text-dark);
    font-size: 22px;
}


.footer .inner-bottom {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inner-bottom .inner-copyright {
    width: 40%;
    color: var(--color-text-light);
    font-size: 14px;
    font-weight: 500;
}

.footer .inner-bottom .inner-logo {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* .footer .inner-bottom .inner-logo img {
    width: 115px;
    height: auto;
} */

.footer .inner-bottom .inner-links {
    width: 40%;
}

.footer .inner-bottom .inner-links ul {
    /* reset ul */
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

.footer .inner-bottom .inner-links ul a {
    color: var(--color-text-light);
    font-size: 14px;
    font-weight: 500;
}
/* end footer */